@model List<SelectListItem>
@{
    ViewBag.Title = "Lista de asistencias";
}
<br />
<div class="form-group">
    <label for="reuniones">Reuniones</label>
    @Html.DropDownList("reuniones", Model, "Seleccione una reunion", new { @class = "form-control" } )
</div>
<div id="datos">
    <button class="btn btn-success" onclick="agregar()">Agregar usuario</button>
    <hr />
    <h5 class="text-center">Lista de asistencia</h5>
    <hr />
    <div class="table-responsive">
        <table class="table table-hover table-bordered" style="width: 100%">
            <thead class="bg-secondary text-white">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody id="tabla"></tbody>
        </table>
    </div>
</div>


@*Creando modal para agregar*@
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registrar usuario a la reunion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="usuario">Seleccione usuario</label>
                        <select id="usuario" class="form-control" style="width: 100%">

                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" onclick="btnRegistrar()">Registrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/notify.min.js"></script>

    <script>

        $("#datos").hide();

        function cargarTabla() {
            var reunion = $("#reuniones").val();

                $.ajax({
                    type: "GET",
                    url: '@Url.Action("listar", "Asistencias")/' + reunion,
                    success: function (respuesta) {
                        $("#tabla").html(respuesta);
                    },
                    error: function (msg) {
                        alert("Error: " + msg.responsetext);
                    }
                });
        }

        function cargarUsuarios() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("listarUsuarios", "Asistencias")',
                success: function (respuesta) {
                    $("#usuario").html(respuesta);
                },
                error: function (msg) {
                    alert(msg.responsetext);
                }
            });
        }

        cargarTabla();
        cargarUsuarios();


        $("#reuniones").change(function () {

            var reunion = $(this).val();
            if (reunion != "") {
                cargarTabla();
                $("#datos").show();
            } else {
                $("#datos").hide();
            }
        });

        function agregar() {
            $('#modal').modal();
        }

        function btnRegistrar() {
            var usuario = $("#usuario").val();
            var reunion = $("#reuniones").val();
            var par = usuario + "/" + reunion;
            if (usuario > 0 && reunion > 0) {
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("registrar", "Asistencias")/' + par,
                    success: function (respuesta) {
                        if (respuesta.result) {
                            $('#modal').modal("hide");
                            cargarTabla();
                            $.notify(respuesta.message, {
                                globalPosition: 'top right',
                                className: 'success'
                            });
                        } else {
                            $.notify(respuesta.message, {
                                globalPosition: 'top right',
                                className: 'error'
                            });
                        }
                    },
                    error: function (msg) {
                        alert("Error: " + msg.responsetext);
                    }
                });
            } else {
                $.notify("No se ha seleccionado a ningun usuario!", {
                    globalPosition: 'top right',
                    className: 'error'
                });
            }
        }

        function eliminar(id) {
            var reunion = $("#reuniones").val();
            var contenido = id + "/" + reunion;
            if (confirm("Seguro que desea eliminar el registro?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("eliminar", "Asistencias")/' + contenido,
                    datatype: "JSON",
                    success: function (respuesta) {
                        if (respuesta.result) {
                            cargarTabla();
                            $.notify("Datos eliminados!", {
                                globalPosition: 'top right',
                                className: 'success',
                            });
                        }
                    },
                    error: function (msg) {
                        alert(msg.responsetext);
                    }
                });
            }
        }
    </script>
}